<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LogisuiteEmployeePresentation.Properties.Settings.LogisuiteConnectionString"
            connectionString="Data Source=DESKTOP-I1KBFAR\SQLEXPRESS;Initial Catalog=Logisuite;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="EmployeesServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52622/EmployeesService.asmx"
                binding="basicHttpBinding" bindingConfiguration="EmployeesServiceSoap"
                contract="LogisuiteEmployeeService.EmployeesServiceSoap" name="EmployeesServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>